<script>
window.fbAsyncInit = function() {
  FB.init({
    appId      : {{ appID }},
    xfbml      : true,
    version    : 'v2.12'
  });
  FB.AppEvents.logPageView();
};

(function(d, s, id){
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement(s); js.id = id;
   js.src = "https://connect.facebook.net/en_US/sdk.js";
   fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));
</script>

<div class="container-fluid background">
  <div class="row">
    <div class="col-10 col-sm-8 col-md-6 col-lg-4 col-xl-3 login-sec">
      <div class="row">
        <div class="col-12 login-sec-header">
          <h1 class="header">
            MOOD TRACKER
          </h1>
          <p class="sub-header">
            Choose one of the methods below to
            <br />
            Login or Sign Up
          </p>
          <div class="row">
            <div class="col-12 firebase-ui">
              <firebase-ui></firebase-ui>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
